@using BW.Models
@model Clubs
@{
    ViewBag.Title = "ClubPage";
}

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
          
            $("#openusersedit").click(function () {
                $("#users").css("display", "none");
                $("#editusers").css("display", "block");

            });
            $("#saveusers").click(function () {
                $("#editusers").css("display", "none");
                $("#users").css("display", "block");

            });

        });

    </script>


    <div style="width:inherit" class="ui top banner test ad" data-text="">
        <div class="image">
            <img src=" @Html.DisplayFor(model => model.Image)" />
        </div>
    </div>
    <div class="ui two column grid">
        @*Информация+читаемая*@
        <div class="ui twelve wide column">
            <div class="ui segment">
                <a href="~/Home/Edit/@Model.Id" style="text-decoration: none; color: black; float:right">
                    <i class="big edit outline icon"></i>
                </a>
                <div class="ui two column grid">
                    <div class="ui column">
                        <i style="float: left; " class="grey huge @Html.DisplayFor(model => model.Icon)"></i>
                        <h1 class="ui header">
                            <div class="content">
                                @Html.DisplayFor(model => model.Name)
                                <div class="sub header">
                                    @Html.DisplayFor(model => model.Discription)


                                </div>
                            </div>
                        </h1>
                    </div>
                    <div class=" ui column">
                        <h3 class="ui header">Читают:</h3>

                        @foreach (Books books in Model.Books)
                        {
                            if (books.Id == Model.Readingbook)
                            {
                                <div>
                                    <div class="ui label">
                                        @books.Name
                                    </div>

                                </div>
                            }
                        }
                    </div>
                </div>

               
            </div>
        </div>

    <div class="ui four wide column">
        <div class="ui segment">

            <h3 class="ui header">
                Прочтено:
            </h3>
            <div class="content">

                @*Вывод почтенных книг*@
                <div class="ui link list exbooks">

                    @foreach (Books books in Model.Books)
                    {
                        if (books.Id != Model.Readingbook)
                        {
                        <a class="item" href="~/Books/Details/@books.Id">
                            @books.Name
                        </a>
                        }
                    }
                </div>

            </div>

        </div>
    </div>
    </div>
 


    <div class="ui two column grid">
            <div class="twelve wide column">
                    @foreach (Post post in Model.Posts)
                    {
                        <div class="ui segment">
                            <div class="ui fluid placeholder">
                                <div class="image header">
                                    <img class="ui mini circular image" style="float:left" src="@Model.Image">
                                    <h3 class="ui header">
                                        @Model.Name
                                        <div class="ui sub header">
                                            @post.Date
                                        </div>
                                    </h3>
                                </div>
                                <h2 class="ui header">
                                    @post.Text
                                </h2>
                            </div>
                        </div>
                    }

            </div>
            <div class="four wide column">
                <div class="ui segment">
                    <h3 class="ui header">
                        Участники:
                    </h3>
                    <button id="openusersedit" style="float: right" class="circular ui icon button">
                        <i class="big edit icon"></i>
                    </button>

                    <div id="editusers" style="display: none">
                        @using (Html.BeginForm())
                        {
                            @Html.HiddenFor(model => model.Id)
                            foreach (ApplicationUser c in ViewBag.Users)
                            {
                                foreach (ApplicationUser user in Model.ApplicationUser)
                                {
                                    if (user.Id == c.Id)
                                    {
                                        <div class="ui checkbox">
                                            <input name="selectedUsers" type="checkbox" value="@c.Id" @(Model.ApplicationUser.Contains(c) ? "checked=\"checked\"" : "") />
                                            <label> @c.Email</label>
                                        </div>
                                    }
                                }
                            }
                            <div class="ui basic buttons">
                                <input type="submit" id="saveusers" class="ui button" value="Сохранить изменения">
                            </div>
                        }
                    </div>

                    <div id="users" style="display:block" class="ui middle aligned animated list">

                        @foreach (ApplicationUser User in Model.ApplicationUser)
                        {
                            <div class="item">
                                <img style="float:left" class="ui avatar image" src="@User.Image">
                                <div class="sub header" style="text-align:inherit">
                                    <div class="header">@User.Email</div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
               
            </div>
    </div>
</body>
