@model BW.Models.ApplicationUser

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<br/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



<fieldset>
    @Html.HiddenFor(model => model.Id)
    <div class="ui form">
        <div class="ui two column grid">
            <div class="ui column">
                <div class="editor-filed">
                    <label>Город</label>
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>
                <label>О себе</label>
                <div class="editor-filed">
                    <textarea name="about" placeholder="Расскажите о своих навыках, увлечених и хобби :)"></textarea>
                    @Html.ValidationMessageFor(model => model.about, "", new { @class = "text-danger" })
                </div>
                <label>Email</label>
                <div class="editor-filed">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <label>Номер телефона</label>
                <div class="editor-filed">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>

                <label>Имя пользователя</label>
                <div class="editor-filed">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="ui column">

                <div class="ui card">
                    <div class="card">

                        <div class="content">
                            <h4 class="ui header">
                                Социальные сети
                            </h4>
                            @foreach (site c in Model.Sites)
                            {
                                foreach (networkicon i in ViewBag.Icons)
                                {
                                    if (i.id == c.networkicon.id)
                                    {
                                      <div class="ui header">
                                        <i style="color: gray; float:left" class="large @i.ico"></i>
                                        <div class="content">

                                            <input type="text" name="url" value="@c.url" />
                                            <a href="~/sites/Delete/@c.id" style="float:right"><i style="color: gray" class="large delete icon"></i></a>
                                        </div>
                                      </div>
                                    }
                            
                                } 
                             }
                        </div>
                    </div>

                    <div class="ui primary bottom attached button">
                        <a href="~/sites/Create"><i class="add icon"></i></a>
                    </div>
                </div>




                </div>



        </div>


    </div> 
    <input class="ui button" type="submit" value="Сохранить" />

</fieldset>

}
